.box1{
    background-color: #DE6B35;
    height: 120px;
}

.box2{
    background-color: #d3612c;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}

.cor{
    background: #8F4426;
}